body{
	background:url('imagenes/fondo_perfil.jpg');
	background-size:100% auto;
}

#imagen_perfil{
	width:300px;
	position:relative;
}
#imagen_perfil #anterior:hover,
#imagen_perfil #siguiente:hover{
	cursor:pointer;
}
#imagen_perfil #anterior,
#imagen_perfil #siguiente{
	width:20%;
	position:absolute;
	top:44%;
	
}

#imagen_perfil #siguiente{
	left:-30%;
}

#imagen_perfil #anterior{
	left:107%;
}
#informacion{
	margin-top:10px;
}
#informacion .titulo{
	line-height:25px;
	font-weight:700;
	font-size:22px;
	padding:0;
	margin:0;
}
input{

	width:150px;
	display:block;
}
#guardarCambios{
	margin-top:15px;
}
.error{
	color:red;
	display:inline-block;
}

