body{
	background:url('imagenes/fondoverde.jpg');
	background-size:100% auto;
}
#contenedor{
	display:block;
	height:50vw;
}
#informacion,
#imagen_dangerous{
	width:50%;
	float:left;	
}
#imagen_dangerous{
	text-align:center;
}
#imagen_instrucciones{
        filter: hue-rotate(113deg);
	text-align:center;
}
#informacion{
	margin-top:3%;
	position:relative;
}
#informacion .titulo{
	line-height:1vw;
	font-weight:100;
	font-size:1vw;
	padding:0;
	margin:0;
}
#informacion .entrada{
	line-height:3vw;
	font-size:2.5vw;
}
#informacion .info{
    	position:relative;

	margin-top:5%;
}
#informacion .editar{
	top:-4%;
	right:4%;
	font-size:2.5vw;
	position:absolute;
}
#informacion .editar button:hover{
	color:blue;
	cursor:pointer;
}
#historial{
	display:block;
	width:100%;
	text-align:center
}
#historial{
	display:block;
	width:100%;
	text-align:center;
	font-size:6vw;
	font-weight:700;
}
.fondo{
	position:absolute;
	width:100%;
	height:100%;
	z-index:-1;
	background:red;
        color:#F5F5DC;
}