body{
	background:url('imagenes/fondoverde.jpg');
	background-size:100%;
	
}

#ranking_titulo{
	width:70%;
        filter: hue-rotate(170deg) saturate(92%)brightness(150%); 
}
.tabla{
	width:70vw;
}

.tabla .cmonedas{
	width:40%;
}
.tabla .nombre{
	width:40%;

}
.tabla .puesto{
	width:20%;

}	
.tabla tr{
	
	border-bottom: 2px solid white;
	
}
.tabla th{
	font-family: Brush Script MT,cursive; 
	font-size:2.2vw;
	color:#F5F5DC;
	padding-top:3%;
	padding-bottom:3%;
	text-align:center;
}
.tabla .jugadores:hover{
	background:#4DF0D2;
	cursor:pointer;
}