*{
	margin:0;
	padding:0;
}
.link{
  color: black;
  text-decoration: none;
}
body{
	background:black;
	overflow-x: hidden;
	align-items: center;
}
#contenedor{
	margin-top:2em;
	margin-bottom:1em;
	width:100%;
	height:42vw;
	background:url('imagenes/poker.jfif');
	background-size:100% auto;
}

#bloque1{
	width:40%;
	height:100%;
	background:url('imagenes/dangerous2.png');
	background-size:100% 100%;
	float:left;
}


#bloque2{
	margin-top:0%;
	width:60%;
	height:100%;
	float:right;
}
#panel-masSuperior{
	height:10%;
	position:relative;
}
#panel-superior{
	height:80%;
	font-size:2vw;
	line-height:2vw;
}
#panel-inferior{
	height:10%;
	position:relative;
}
#bloque2 .jugadores{
	height:100%;
	width:100%;
	PADDING-left:3%;
	PADDING-RIGHT:3%;
}
.jugador{
	width:30%;
	display:inline-block;
	margin-top:3%;
	text-align:center
}
.jugador img{
	width:50%;
	margin:auto;
	display:block;
}
.jugador .superior{
	height:80%;
}
.jugador .inferior{
	height:20%;
	
}
#boton_comenzar,
.botonP_P,
#boton_priv,
#boton_salir{
	width:15%;
	height:90%;
	font-size:1.5vw;
	line-height:1.5vw;
	position:absolute;
}
#boton_comenzar{
	right:5%;
}

#boton_priv,
.botonP_P{
	left:43%;
}
#boton_salir{
	left:5%;
}
.negrilla{
	font-weight:700;
	margin:0;padding:0;
}
#nombre_mesa,
#contrasena,
#invocar_chat{
	position:absolute;
	font-size:1.5vw;
	line-height:1.5vw;
	text-align:center;
	margin:0;padding:0;
}
#nombre_mesa{
	left:30%;
	margin:0;padding:0;
}
#invocar_chat{
	left:2%;
	width:5%;
	height:50%;
	margin-top:1%;
	
}
#contrasena{
	left:60%;
}
#chat{
	width:80%;
	height:20vw;
	word-wrap: break-word;
	margin-left:3%;
	display:none;
	font-size:1.5vw;
	line-height:1.5vw;
}
#chat p{
	line-height:1.5vw;
}
#chat label,
#chat br{
	line-height:0vw;
}

#mensajes_recibidos{
	width:100%;
	background:white;
	height:80%;
	border:2px solid black;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
	padding:3%;
}
#mi_chat{
	width:100%;
	height:20%;
	word-wrap: break-word;
}
#mensaje{
	width:70%;
	height:2vw;
}
#enviar_mensaje{
	width:25%;
	height:2.5vw;
	font-size:1.3vw;
	line-height:0vw;
}