
body {
	background:url('imagenes/texturaverde.jpg');
        background-size:100% auto;

	
}
.privadas{
	font-size:20px;
	font-weight:700;
        color:red;
	
}
.privadas:hover{
        color:red;
}
label{
	cursor:pointer;
	color:#1A2FBA;
}
label:hover{
	color:red;
}
#salas_titulo{
	width:40%;
        filter: hue-rotate(170deg) saturate(92%)brightness(150%); 
        

}
.tabla{
	width:70vw;
	
}
tr{
	
	background:#5DF087;
	opacity:0.9;
	border:4px solid #006B12;
}
th{
	padding-top:3%;
	padding-bottom:3%;
	text-align:center;
	font-size:15px;
	font-weight:700;

}
.nameSala{
	width:30%;
}
.cantJugadores{
	width:20%;
}
.vSala{
	width:20%;
}

.unirseSala{
	width:30%;
}







