body{
	background:url('imagenes/fondoverde.jpg');
	background-size:100%;

	
}
.menu{
	width:100%;
        
}
.imagen{
	width:25%;
	height:25vw;
	float:left;
	margin:4%;
	text-align:center;
        
}

.btn.btn-success.boton_imagen{
	margin-top:3%;
	width:100%;
	height:4vw;
	font-size:2vw;
	line-height:2vw;
}

.error{
	color:red;
	display:inline-block;
}
titulo{
        filter: hue-rotate(170deg) saturate(92%)brightness(150%); 
}