body{
	background:url('imagenes/negro.jpg');
	background-size:100% 100%;
	
}
.menu{
	width:100%;
}
.imagen{
	width:25%;
	height:25vw;
	float:left;
	margin:4%;
	text-align:center;
}

.btn.btn-success.boton_imagen{
	margin-top:3%;
	width:100%;
	height:4vw;
	font-size:2vw;
	line-height:2vw;
}

