<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DangerousBets</title>
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/estilos/bienvenido.css}">

	
</head>
	<center>
	<div id="bienvenido">
		<div class="texto">
			<img src="/estilos/ficha.jpeg" width="70%">
			<div class="boton">
				<a href="../../login" class="boton">
				<span>volver</span>
			</div>
			<div>
				<form class="sf-form" th:action="@{/logout}" method="POST">
					<input name="logout" type="submit" value="logout" class="logout">
					<form/>
			</div>
		</div>
		
	
	</div>
	
	</center>

</html>