<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My First Spring Boot App</title>
    <style>
        html {
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            color: #404040;
            background-color: #d3d3d3;
        }
        body{
            padding: 5em;
        }
    </style>
</head>
<body>
    <p>Usuario</p>
    <input id="input1" placeholder="Nombre Usuario" type="text" ></input>
    <p>Contraseña</p>
    <input id="input2" type="password" ></input>
    <button ></button>
</body>
</html>
