<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>DangerousBets</title>
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/estilos/bienvenido.css}">

	
</head>
<div id="menu">
	<div class="informacion">
	</div>
	<div class="menu_jugar">
		
	</div>
	<div>
		<div class="menu_boton">
		</div>
		<div class="menu_boton">
		</div>
		<div class="menu_boton">
		</div>
	</div>
</div>

</html>